@font-face {
    font-family: Tungsten_sb;
    src: url(fonts/Tungsten-SB.otf);
}

@font-face {
    font-family: Tungsten_m;
    src: url(fonts/Tungsten-M.otf);
}

h1 {
  color: #053594;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

p {
  margin: 0;
}

.app-container {
  width: 80vw;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

/*LOGIN*/

.login {
  width: fit-content;
  padding-top: 100px;
  margin: auto;
}

.login-title {
  border-bottom: 1px solid #F1F6FE;
  text-align: center;
  color: #053594;
  padding: 25px;
  margin-bottom: 50px;
}

.login-title__text {
  font-size: 60px;
  font-family: Tungsten_sb;
  color: #053594;
}

.login-title__text-special {
  font-size: 36px;
  font-family: Tungsten_m;
}

.login__form {
  padding: 30px;
  border: 2px solid #8E9093;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__form-instructions {
  background-color: #F1F6FE;
  padding: 15px;
  text-align: center;
  width: 300px;
  margin: 10px 0;
  color: #053594;
}

.login__form-input {
  height: 50px;
  display: block;
  width: 300px;
  padding-left: 10px;
  margin: 10px 0;
  border-style: #8E9093;
}

.login__form-remember {
  display: flex;
  flex-direction: row;
}

.login__form-remember-text {
  padding-left: 5px;
  color: #8E9093;
}

.login__form-btn {
  width: 300px;
  background-color: #FFD54E;
  padding: 15px;
  text-align: center;
  margin: 10px 0;
  border-radius: 0;
  color: #053594;
}

/*NAVIGATION*/

.navigation {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-bottom: 1px solid #F1F6FE;
}

.navigation-logo {
  margin-right: 200px;
  font-size: 60px;
  font-family: Tungsten_sb;
  color: #053594;
}

.navigation-logo-special {
  font-size: 36px;
  font-family: Tungsten_m;
}

.navigation-logo:hover {
  text-decoration: none;
  color: none;
}

.navigation-link {
  margin: 45px 20px;
  color: #053594;
}

.navigation-link:hover {
  text-decoration: none;
  color: none;
}

.navigation__profile {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.navigation__profile-picture {
  height: 40px;
  width: 40px;
  background-color: #F1F6FE;
  border-radius: 2px;
  margin: 35px 0 35px 30px;
}

.navigation__profile-disconnect {
  margin: 45px 0 45px 20px;
  color: #053594;
}